
// http://www.browsersync.io/docs/options/

module.exports = {
    files: [
        "DistributionPackages/*/Resources/Public/**/*.css",
        "DistributionPackages/*/Resources/Public/**/*.js",
        "DistributionPackages/*/NodeTypes/**/*.fusion",
        "DistributionPackages/*/NodeTypes/**/*.yaml",
        "DistributionPackages/*/Resources/Private/Fusion/**/*.fusion",
    ],
    proxy: "http://127.0.0.1:8081/",
};
