@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "node_modules/plyr/src/sass/plyr.scss";
@import 'Plyr';

@layer utilities {
    // https://kulturbanause.de/blog/flexbox-responsive-layouts-ohne-media-queries/
    .flex-item-distribute-responsive {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(960px * 999 - 100% * 999);
    }
}

[x-cloak] {
    display: none!important;
}
